.navbar {
	background: rgb(177, 151, 248);
}
.card {
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	border-radius: 20px;
}
.card:hover {
	transform: scale(1.05);
	background-color: rgb(177, 151, 248);
	transition: all 0.3s ease-in-out;
	color: white;
	cursor: pointer;
	-webkit-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	-moz-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
}
.button-booking-details {
	height: 4.5rem !important;
}
.button {
	position: relative;
	overflow: hidden;
	height: 2.5rem;
	padding: 0 2rem;
	border-radius: 1.5rem;
	background: #3d3a4e;
	background-size: 400%;
	color: #fff;
	border: none;
	cursor: pointer;
}
.button:hover::before {
	transform: scaleX(1);
}
.button-content {
	position: relative;
	z-index: 1;
}
.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(
		82.3deg,
		rgba(150, 93, 233, 1) 10.8%,
		rgba(99, 88, 238, 1) 94.3%
	);
	transition: all 0.475s;
}

.stage {
	background-color: rgb(177, 151, 248);
	width: 20%;
	text-align: center;
	margin: 1rem auto;
	border-radius: 20px;
	padding: 0.5rem;
	color: white;
}
.seating {
	border: var(--bs-border-color-translucent) solid 1px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	-moz-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
}
.hall-row__name {
	display: flex;
}
.hall-row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hall-row__seat {
	border-radius: 50%;
	border: var(--bs-border-color-translucent) solid 1px;
	width: 15px;
	height: 15px;
	margin: 0.1rem;
	cursor: pointer;
}
.hall-row__seats {
	margin: 0.1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hall-row__seat--reserved {
	background-color: crimson;
	cursor: default;
}
.hall-row__seat--selected {
	background-color: greenyellow;
}
.selected-seats {
	border: var(--bs-border-color-translucent) solid 1px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	-moz-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
}
.navbar {
	-webkit-box-shadow: 0px 10px 93px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 10px 93px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 93px 4px rgba(0, 0, 0, 0.2);
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.loader-container {
	height: 50rem;
}
.loader {
	width: 20px;
	aspect-ratio: 1;
	border-radius: 100%;
	background: #000;
	box-shadow: 0 0 0 0 #0004;
	animation: l1 1s infinite;
}
@keyframes l1 {
	0% {
		width: 20px;
	}
	50% {
		width: 30px;
	}
	100% {
		width: 20px;
		box-shadow: 0 0 0 40px #0000;
	}
}
.booking-form {
	border: var(--bs-border-color-translucent) solid 1px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	-moz-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
}
.line {
	background-color: #000;
	width: 1px;
	height: 100%;
}
.ticket-card {
	border: var(--bs-border-color-translucent) solid 1px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	-moz-box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
	box-shadow: 0px 44px 93px -4px rgba(209, 142, 209, 0.5);
}
.code {
	border: var(--bs-border-color-translucent) solid 1px;
	border-radius: 20px;
}
